* {
    margin: 0;
    padding: 0;
}

#header-bar {
    background-color: #316DC3;
    height: 55px;
    width: 100%;
}

.social-media-icons>a>img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


#main-header-container{
    border: 1px solid black;
    display: flex;
    height: 55px;
    margin: auto;
    max-width: 1220px;
    justify-content: space-between;
    align-items: center;
}

#header-buttons-list>li, .social-media-icons{
    display: inline;
}

#icons-div{
    width: 200px;
    border: 1px solid black;
}
.social-media-icons{
    margin-left: 15px;
}

#million-para{
    color: white;
    font-family: Helvetica, sans-serif;
}


.header-button{
    width: 80px;
    height: 30px;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}


#header-buttons-div{
    margin-right:30px;
}